/* Subtitles Container */
#subtitles-container {
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  
  /* Subtitles Text */
  #subtitles {
    padding: 10px 20px;
    background-color: rgba(4, 20, 33, 0.8);
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    max-width: 80%;
    margin: 0 auto;
  }